.three {
  background: rgb(29, 30, 32);
}

.contact__header h1 {
  color: white;
  padding-top: 1.5rem;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
  margin-top: 2rem;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.contact__form .input__container .form-control {
  width: 100%;
  padding: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

.input__container .input-btn {
  width: 35%;
  padding: 0.5rem;
  border: none;
  background: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.input__container .input-btn:hover {
  transform: scale(0.9);
  border: 2px solid white;
  background: transparent;
  color: white;
}

@media (min-width: 40em) {
  .input__container {
    width: 80%;
  }

  .input__container .input-btn {
    width: 20%;
  }
}

@media (min-width: 64em) {
  .contact__header h1 {
    padding-top: 3rem;
  }

  .input__container {
    width: 50%;
  }

  .input__container .input-btn {
    width: 25%;
  }
}

@media (min-width: 90em) {
  .contact__header h1 {
    padding-top: 5rem;
  }

  .contact__form form {
    margin-top: 5rem;
  }
  .input__container {
    width: 30%;
  }

  .input__container .input-btn {
    width: 25%;
  }
}
