@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

li {
  list-style-type: none;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
}

.Navbar .logo,
.Navbar .Hamburger {
  position: relative;
  z-index: 2;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1.5rem;
}

.logo a {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.Navbar .Navigation {
  display: none;
}

.Navbar .MobileNavigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 60%;
  background: #0f0f0f;
  font-size: 1.5rem;
  z-index: 1;
  padding-top: 5rem;
}

.Navbar .MobileNavigation ul li a:hover {
  color: #006d43;
}

.Navbar .Hamburger {
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  .Navbar {
    max-width: 80%;
    padding-top: 3rem;
  }

  .logo a {
    font-size: 1.5rem;
    letter-spacing: 7px;
  }
}

@media only screen and (min-width: 64em) {
  .Navbar .MobileNavigation {
    display: none;
  }

  .Navbar .Navigation {
    display: flex;
  }

  .Navbar {
    padding-top: 5rem;
  }

  ul {
    display: inline-flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
  }

  ul li a {
    font-size: 1.1rem;
  }

  .contact-btn {
    color: black;
    font-weight: 600;
    background: white;
    border: 2px solid white;
    padding: 0.75rem 2rem;
    border-radius: 10rem;
    transition: all 200ms ease-out;
    margin-left: 2.5rem;
  }

  .contact-btn:hover {
    background: transparent;
    color: white;
  }
}

@media only screen and (min-width: 90em) {
  .nav__links {
    width: 20%;
  }
}
