#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  padding-top: 1.5rem;
}

#work h1 {
  color: black;
  text-align: center;
  grid-area: header;
}

.work__container {
  scrollbar-width: none;
  display: flex;
  height: 80%;
  width: 90%;
  overflow: scroll;
  gap: 3rem;
}

.work__container::-webkit-scrollbar {
  display: none;
}

.work__container img {
  width: 20rem;
  height: 35rem;
}

.work__container a {
  color: black;
  font-weight: 600;
}

.work__container .example__1 p,
.work__container .example__2 p,
.work__container .example__3 p,
.work__container .example__4 p {
  border: 2px solid black;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.work__container .example__1 p:hover,
.work__container .example__2 p:hover,
.work__container .example__3 p:hover,
.work__container .example__4 p:hover {
  transform: scale(0.9);
}

@media screen and (min-width: 25em) {
  .work__container iframe {
    width: 25rem;
  }
}

@media screen and (min-width: 40em) {
  #work {
    gap: 3rem;
    padding-top: 3rem;
  }
  .work__container iframe {
    width: 30rem;
  }
}

@media screen and (min-width: 60em) {
  .work__container {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }

  .work__container iframe {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (min-width: 90em) {
  #work {
    padding-top: 5rem;
    gap: 8rem;
  }
  .work__container iframe {
    width: 30rem;
    height: 30rem;
  }
}
